.game{
    width: 1500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#mario{
    width: 50px;
    height: 50px;
    background-image: url(../img/mario.gif);
    background-size: 50px 50px;
    position: relative;
    top: 150px;

    
}
.jump {
   animation: jump 0.3s linear;
}
@keyframes jump {
     0% {
        top: 150px;
     }

     30% {
        top: 130px;
     }
     30% {
      top: 100px;
   }
     50%{
        top:50px;
     }

     80%{
        top:130px;
     }
     100%{
        top:150px
     }
}

#pipe{
   width: 50px;
   height: 50px;
   background-image: url(../img/game-pipe.gif);
   background-size: 50px 50px;
   position: relative;
   top: 100px;
   left: 1450px;
   animation: pipe 3.5s infinite linear;
}
@keyframes pipe {

      0% {
         left: 1450px;
      }
      20%{
         left:1160px;
      }
   
      30%{
         left:1015px;
      }
      40%{
         left:870px
      }
      50%{
         left:725px
      }
      100%{
         left:-10px
      }
   
}